body {
  background-color:#D1D0CE;
  font-size: 130;


}


p {color: blue} /*  base color */

#p1 {
    background-color: #A52A2A;
    width: 250px;
	height: 250px;

}
#p2 {
	background-color: #DEB887;
	width: 150px;
	height: 150px;
}

@media1 (max-width: 767px), (min-width: 992px) {

	p {
		color: blue;
	}
}
@media2 (min-width: 768px) and (max-width: 991px) {

	p {
		color: blue;
	}
}
@media3 (min-width: 992px) {

	p {
		color: blue;
	}
}

